<li>
    <a data-name="{{Name}}" href="" data-location="{{Location}}" class="left-menu-item-new" data-screen="{{Screen}}" data-type="{{type}}">
        <!--<i class="fa fa-dashboard"></i> -->
        <span>{{Name}}</span>
    </a>
</li>